# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# virtual env
.venv/
venv/
ENV/

# artifacts
build/
devel/
dist/
*.egg-info/
.eggs/

# ide
.vscode/
.idea/
*.swp
*.swo

# generated output & artifacts
#Model/
#*.png
#*.pdf
#*.gv
#*.dot

# .gitignore is not ignored
!.gitignore

# Folders used for testing
ARCHIVE